.App {
  text-align: center;
}
.App-header {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  height: 10rem;
  color: white;
  /* background-color: #37505c; */
}
.todo {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todoBar {
  display: flex;
  display: row;
}

.text {
  height: 100%;
  width: 70%;
  background-color: white;
}

.todoBar button {
  padding: 2px;
  border: 0;
  color: white;
  width: 15%;
  height: 100%;
}

form .input,
.todoBar {
  margin: 1rem;
  width: 30rem;
  height: 3rem;
}

.done {
  background-color: green;
}

.delete {
  background-color: red;
}
